

body{
    overflow:hidden;
}


.App{
    width:100%;
    height:100%;
    margin:0 auto;
    display: flex;
    justify-content: center;
}


.containerr{
    position: absolute;
    top:85px;
    /*
    left:50%;
    transform: translate(-50%);
    */
    width: auto;
    height: auto;
    //border: 3px solid green;
    background-color: black;
    padding: 0px;
    margin:10px;
    right:0px;
    left:0px;
    bottom: 0px;
    /*
    margin:20px;
    */
}



.slide{
    position: absolute;
    top:0px;
    right:0px;
    bottom:0px;
    background-color:purple;
    width: 100%;
    height: auto;
    z-index: 800;
    //border: 4px solid blue;
}




.big-defile{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}


.big-defile img{
    //border: 2px red solid;
    width:100%;
    height: 100%;
    object-fit: contain;
    background-color: white;
}


/*

.big-defile:nth-child(16) {
    opacity:0;
}
*/

/***********************************/



.arrows{
    position: absolute;
    top: 75%;
    left: 38%;
    width:300px;
    max-width:30%;
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: transparent;
    z-index: 500;
    height:50px;
}



.arrows button{
    width: 40px;
    height:40px;
    border-radius: 50%;
    background-color: black;
    border: 1px solid black;
    color: white;
    font-weight: bold;
    font-family: courriel;
    transition: 1s;
    z-index: 100;
}



.arrows button:hover{
    background-color:grey;
    border: 1px solid grey;
    color:black;
}



.arrows .prev{
    color:grey;
}




/*******************************/


.thumbnail{
    position: absolute;
    bottom: 25px;
    /**/
    left: 50%;
    /**/
    width: 100%;
    height:auto;
    z-index: 100;
    display: flex;
    justify-content: start;
    gap: 2px;
    background-color: transparent;
    //background-color: blue;
}


.thumbnail .card{
    //border: 2px solid green;
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
    border-radius: 10px;
}


.thumbnail .card:nth-child(1) {
    position: relative;
    left: 45px;
}



.thumbnail .card:nth-child(N+1) {
    position: relative;
    left: 45px;
}


/*  decoller chacunes des card cachées*/


.thumbnail .card img{;
    object-fit: cover;
    border-radius: 10px;
    width:140px;  
    //height:auto;
}



















    /******** gestion de l'animation********/




    


/*
.big-defile .thumbnail .item:nth-child(1){
    z-index: 1;
}



.thumbnail .item:nth-child(2){
    z-index: 2;
}



.big-defile .thumbnail .item:nth-child(1) .title,
.big-defile .thumbnail .item:nth-child(1) .descr,
.big-defile .thumbnail .item:nth-child(1) .button{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;
}

@keyframes showContent{
    to{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}




.big-defile .thumbnail .item:nth-child(1) .title{
    animation-delay: 1.2s;
} 


.big-defile .thumbnail .item:nth-child(1) .descr{
    animation-delay: 1.4s;
} 


.big-defile .thumbnail .item:nth-child(1) .button{
    animation-delay: 1.8s;
} 








.big-defile:nth-child(1) img{
    width:150px;
    height:220px;
    position: absolute;
    left: 50%;
    bottom: 50px;
    border-radius: 20px;
    animation: showImage 1s linear 1 forwards;

}

@keyframes showImage{
    to{
        width:100%;
        height:100%;
        left:0;
        bottom: 0;
        border-radius:0;
    }
}


.caroussel.next .thumbnail .item:nth-last-child(1){
    width:0;
    overflow:hidden;
    animation: showThumbnail .5s linear 1 forwards;
}

@keyframes showThumbnail{
    to{
        width: 150px;
    }
}

.caroussel.next .thumbnail{
    transform: translateX(150px);
    animation: transformThumbnail .5s linear 1 forwards;
}

@keyframes transformThumbnail{
    to{
        transform: translateX(0);
    }
}


.caroussel.prev .list .item:nth-child(2){
    z-index:2;
}


.caroussel.prev .list .item:nth-child(2) img{
    position:absolute;
    bottom:0;
    left:0;
    animation: outImage 0.5s linear 1 forwards;
}

@keyframes outImage{
    to{
        width: 150px;
        height: 220px;
        border-radius: 20px;
        left: 50%;
        bottom: 50px;
    }
}

.caroussel.prev .thumbnail .item:nth-child(1){
    width:0;
    overflow:hidden;
    opacity:0;
    animation: showThumbnail 1s linear 1 forwards;

}


.caroussel.prev .list .item:nth-child(2) .buttons{
    animation: contentOut 1.5s linear 1 forwards;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter:blur(20px);
        opacity:0;
    }
}

.caroussel.next .arrows button,
.caroussel.prev .arrows button{
    pointer-events:none
}


.time{
    width:0%;
    height:5px;
    background-color:brown;
    position: absolute;
    z-index:100;
    top:0;
    left:0;
}


.caroussel.next .time,
.caroussel.prev .time{
    width:100%;
    animation: timeRunning 2s linear 1 forwards;
}

@keyframes timeRunning{
    to{
        width:0;
    }
}

*/





/*********autres, boite a outils***********/




/*

.container .slide .item{
    width:300px;
    height:300px;
    position: absolute;
    top:10%;
    transform: translate(-50%, 30%);
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    width:100%;
    height: 100%
}


.slide .item:nth-child(3){
    left:50%;
}


.slide .item:nth-child(4) {
    left: calc(50% + 550px);
    opacity: 0;
}


.item .content {
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    color: grey;
}


.slide .item:nth-child(2) .content {
    display: block;
}


*/